#body
{
    background-color: lightcyan;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main
{
    height: 700px;
    width: 700px;
    border: black solid 2px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
}
.black
{
background-color: black;
}
.white
{
background-color: whitesmoke;
}
h2{
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    font-weight: 900;
    margin-right: 80px;
}