.box1{
    display:block;
    width:150px;
    height:150px;
    border:2px solid black;
    margin:10px;
    position: static;
    background-color: aqua;
}
.box2{
    display:inline-block;
    width:150px;
    height:150px;
    border:2px solid black;
    margin:10px;
    position: fixed;
    background-color: aqua;
}
.box3{
    display:block;
    width:150px;
    height:150px;
    border:2px solid black;
    margin:10px;
    position: relative;
    background-color: aqua;
}
.box4{
    display:block;
    width:150px;
    height:150px;
    border:2px solid black;
    margin:10px;
    position: absolute;
    background-color: aqua;
}
.box5{
    display:block;
    width:150px;
    height:150px;
    border:2px solid black;
    margin:10px;
    position: sticky;
    background-color: aqua;
}
